
body, html{
	font-family: 'Open Sans', sans-serif;
}

h2{
	margin: 0 30px;
	font-size: 35px;
	font-weight: bold;
	
}
p{
	font-weight: bolder;
	font-size: 25px;
	margin: 0 30px;
}


/*Book Banner*/

.book-banner {
	background-color: #1CA5A4;
	height: 100vh;
	/*VH is the viewport height*/
	padding: 0 20px;
	position: relative;
	overflow: hidden;

}

.wrapper{
	width: 1000px;
	margin: 0 auto;
}


h1{
	font-size: 50px;
}

 .book-banner h4{
 	font-weight: bold;
 	font-size: 15px;
 	margin: 15px 0px 20px;
 }

.book-banner h3{
	font-size: 20px;

}

.book-banner h1, h4, h4 a{
 	color: white;
 }

 .char1{
 	background: url(https://images-na.ssl-images-amazon.com/images/I/919QE25JnTL.jpg) no-repeat 0 0;
 	background-size: 100%;
 	width: 300px;
 	height: 450px;
 	position: absolute; top: 50px; right: 20px;
 }

.char2{
	background: url(warz.jpg) no-repeat 0 0;
 	background-size: 75%;
	width: 300px;
	height: 400px;
	position: absolute; top: 350px; right: 200px;
}

.char3{
	background: url(img/world.jpg) no-repeat 0 0;
 	background-size: 100%;
	width: 200px;
	height: 275px;
	position: absolute; bottom: 250px; right: 90px;
	transform: rotate(15deg);
}


.book-banner a.rmore{
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
	color: white;
	background: #A51C1D;
	box-shadow: 0 0 0 10px rgba(165, 28, 29,.5);
	padding: 15px;	
	border-radius: 5px;
	text-decoration: none;
	margin: 20px 10px;
	}

/*Nav Bar

<nav>
	<a href="#" class="logo">Liam's Club</a>

	<ul>
		<li><a href="#">Sign Up</a></li>
		<li><a href="#the-story">The Story</a></li>
		<li><a href="#more-info">More Info</a></li>
	</ul>

</nav>

*/

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0px 5px 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0;
}

nav .logo{
	display: block;
	width: 100px;
	height: 100px;
	position: absolute; top: 0; left: 0;
	margin-top: 0;
	margin-left: 30px;
	background: url(img/logo.png) no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
}

nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #A51C1D;
	padding: 35px 10px;
	line-height: 30px;
	margin: 
}


/*More Info

<div class="more-info" id="more-info">
	<h2>Join the Club</h2>
	<p>Every month we discuss <span class="highlight">one audiobook</span> and 2 traditional books.</p>

</div>
<button class="cta">Sign Me Up</button>

*/

.more-info{
	text-align: center;
}

.more-info p{
	margin-top: 20px;

}

.highlight{
	color: #E47911;
	}



.cta {
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
	color: white;
	background: #A51C1D;
	box-shadow: 0 0 0 10px rgba(165, 28, 29,.5);
	padding: 15px;	
	border-radius: 5px;
	text-decoration: none;
	margin: 20px 10px;
	border-width: 0;
}

/*

<div class="story" id="the-story">
	<ul class="list">
		<li class="red">Fantasy</li>
		<li>&nbsp;</li>
		<li class="orange">Historical Fiction</li>
		<li class="yellow">Mystery/Thriller</li>
		<li class="gave">Romance</li>
		<li class="blue">Science Fiction</li>				
	</ul>
	


	<h3>Why I started my own book club</h3>
	<br>
	<p class="quote">  "Dreamy far-off look and her nose stuck in a book" </p>
	<p>
		Growing up, my parents did not allow me to watch television during the school week. They thought that the programming, even educational ones, were an unhealthy distraction from everyday life and encouraged me to read instead. Very early on I realized how much more expansive my world could be with books. From my bedroom, I could hop into any number of fantastical and usually magical worlds. Those worlds weren't limited by budgets, graphics, or acting capability and were as expansive as my imagination wanted. I quickly grew to prefer books over TV and even now, I find myself hardpressed to find a television show I'd rather watch over a good book.</p>
		<p> I created this book club so that I could share my love of reading with the world. I try to read at least one book a month as well as listen. For a long time, I unfairly judged audibooks, considering it almost a form of cheating. After trying them out on some long commutes, I realized that audibooks are just as great and I'd even wager some titles are best suited for an audiobook format. I'm a fan of <a href="#">Audible</a> so check them out. Also, never forget your local library, the best free reading resource you'll ever find.</p>
</div>
*/

.story{

}

.list{
	width: 450px;
	padding: 5px;
	box-sizing: border-box;
	background-color: silver;
	border-radius: 20px;
}


.list li{
	height: 70px;
	border-radius: 10px;
	font-size: 40px;
	color: black;
	font-weight: bold;
	display: block;
	text-align: center;
	box-sizing: border-box;
	margin: 5px 0px;
}

.red{background-color: red;}

.blank{background-color: rgba(0,0,0,.1);}

.orange{background-color: orange;}

.yellow{background-color: yellow;}

.green{background-color: green;}

.blue{background-color: cyan;}