
body, html{
	font-family: 'Open Sans', sans-serif;
}

h2{
	margin: 0 30px;
	font-size: 35px;
	font-weight: bold;
	
}
p{
	font-weight: bolder;
	font-size: 25px;
	margin: 30px 0;
}


/*Book Banner*/

.book-banner {
	background-color: #1CA5A4;
	height: 100vh;
	/*VH is the viewport height*/
	padding: 0 20px;
	position: relative;
	overflow: hidden;

}

.wrapper{
	width: 1000px;
	margin: 0 auto;
}


h1{
	font-size: 50px;
}

 .book-banner h4{
 	font-weight: bold;
 	font-size: 15px;
 	margin: 15px 0px 20px;
 }

.book-banner h3{
	font-size: 20px;

}

.book-banner h1, h4, h4 a{
 	color: white;
 }

 .char1{
 	background: url(https://images-na.ssl-images-amazon.com/images/I/919QE25JnTL.jpg) no-repeat 0 0;
 	background-size: 100%;
 	width: 300px;
 	height: 450px;
 	position: absolute; top: 50px; right: 20px;
 }

.char2{
	background: url(warz.jpg) no-repeat 0 0;
 	background-size: 75%;
	width: 300px;
	height: 400px;
	position: absolute; top: 350px; right: 200px;
}

.char3{
	background: url(img/world.jpg) no-repeat 0 0;
 	background-size: 100%;
	width: 200px;
	height: 275px;
	position: absolute; bottom: 250px; right: 90px;
	transform: rotate(15deg);
}


/*Nav Bar

<nav>
	<a href="#" class="logo">Liam's Club</a>

	<ul>
		<li><a href="#">Sign Up</a></li>
		<li><a href="#the-story">The Story</a></li>
		<li><a href="#more-info">More Info</a></li>
	</ul>

</nav>

*/

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0px 5px 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0;
}

nav .logo{
	display: block;
	width: 100px;
	height: 100px;
	position: absolute; top: 0; left: 0;
	margin-top: 0;
	margin-left: 30px;
	background: url(img/logo.png) no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
}

nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #A51C1D;
	padding: 35px 10px;
	line-height: 30px;
	margin: 
}


/*More Info

<div class="more-info" id="more-info">
	<h2>Join the Club</h2>
	<p>Every month we discuss <span class="highlight">one audiobook</span> and 2 traditional books.</p>

</div>
<button class="cta">Sign Me Up</button>

*/

.more-info{
	text-align: center;
}

.more-info p{
	margin-top: 20px;

}

.highlight{
	color: #E47911;
	}



.cta {
	font-size: 25px;
	font-weight: bold;
	display: inline-block;
	color: white;
	background: #A51C1D;
	box-shadow: 0 0 0 10px rgba(165, 28, 29,.5);
	padding: 15px;	
	border-radius: 5px;
	text-decoration: none;
	margin: 20px 10px;
	border-width: 0;
	border: none;
	cursor: pointer;
	outline: none;
}

.cta:active{
	opacity: .7;
}

/*List & Story*/

.list{
	width: 450px;
	padding: 10px;
	box-sizing: border-box;
	background-color: silver;
	border-radius: 10px;
	float: left;
	margin: 0 20px 20px 0px;
	position: relative;
}



.list li{
	height: 60px;
	border-radius: 10px;
	font-size: 35px;
	color: black;
	font-weight: bold;
	display: block;
	box-sizing: border-box;
	margin: 10px 0px;
	padding: 6px 20px;
}

.list li.red{
	background-color: red;
	margin-top: 0px;
}


.list li.blank{background-color: rgba(0,0,0,.1);}


.list li.orange{
	background-color: orange;
	position: absolute;
	top: 70px;
	left: 30px;
	right: -10px;
	transform: rotate(5deg);
	box-shadow: 0 2px 14px rgba(0,0,0,.2);

}

.list li.orange:after{
	content: '';
	display: block;
	position: absolute;
	width: 54px;
	height: 50px;
	background: url(img/bookmark.jpg) no-repeat 0 0;
	background-size: 100%;
	top: 5px;
	left: 80%;
}

.list li.yellow{background-color: yellow;}


.list li.green{background-color: green;}


.list li.blue{
	background-color: cyan;
	margin-bottom: 0px;
}

.story h3{
	font-size: 35px;
}

.quote {
	font-style: italic;
}

.story p a{
	color: #E47911;
}


/*Seperators*/
.sep{
	width: 500px;
	height: 10px;
	background-color: black;
	margin: 70px auto;
	border-radius: 5px;
}

.final{
	display: block;
	margin: 0 auto;
}

footer{
	text-align: center;
	font-size: 20px;
	color: rgba(0,0,0,.5);
}

footer a{
	color: rgba(0,0,0,.5);
}
/* Footer

<footer>
	<p>This site was created during a <a href="https://taptapkaboom.com/">
	Tap Tap Kaboom Class</a> &copy; Liam </p>
</footer>
*/



/*pop up
<div  class="popup">
	
	<div class="blanket"></div>

	
	<div class="content">
		<h2>Fill In Your Info</h2>
		<form action="">
			<div class="fname">
			<label>First Name</label>
			<input type="text" placeholder="Book">
			</div>

			<div class="lname">
			<label>Last Name</label>
			<input type="text" placeholder="Worm">
			</div>

			<div class="email">
			<label>E-mail</label>
			<input type="text" placeholder="booksrus@read.com">
			</div>
			
			<div class="genre">
			<label>Favorite Genre</label>
			<input type="text" placeholder="Spooky">
			</div>

			<button class="cta">Sign Me Up</button>
			
		</form>
		<button class="close">Close</button>

	</div>
	*/

	.popup{
		display: none;
	}